@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&family=Open+Sans:wght@200;400;500;700&family=Roboto:wght@200;400;500;700&family=Anton&display=swap");
html {
  scroll-behavior: smooth;
}

/* starts .navbar-brand */
.navbar-brand {
  width: 100px;
}
.navbar-brand img {
  height: 50px;
  /* put value of image height as your need */
  float: left;
  margin-right: 7px;
}
.is-hidden {
  opacity: 0;
  transition: transform 0.5s, opacity 0.2s;
}
navbar-hide {
  pointer-events: none;
  opacity: 0;
}

.form-control {
  font-size: 14px !important;
    font-weight: 200!important;
    letter-spacing: 1px;
    word-spacing: 3px;
    color: #000!important;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    background-color: hsl(0deg 100% 50%/ -0.1);
    transition: 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 8px !important;
    height: 42px;
    border: 1px solid #5454545c !important;
}
.form-control:focus{background-color: transparent!important; border: none!important;box-shadow: none!important;}
::placeholder {
  color: #262626 !important;
}
label {
  color: #262626 !important;
  font-size: 16px !important;
  font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  font-weight: 600;

}

/* MODAL. Can be removed afterwards **/
.miniModal_Body {
  min-width: 800px;
  width: auto; /* Expand width as required */
  max-width: 90% !important;
}
.modal-content {
  margin-top: 8%;
  border-radius: 0px !important;
}
.modal-dialog_fs {
  min-width: 82%;
  max-width: 80% !important;
  width: auto;
}
.modal-content_fs {
  margin: 7% auto !important;
  border: none !important;
  border-radius: 0px !important;
}

/*modal close btn*/
.close {
  font-size: 40px !important;
}

.text_bgImg {
  background: linear-gradient( 
    133deg
    ,#ff7a00, #db2587, #7000ff, #00ffc2);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  
  background-position: center;
  -webkit-text-stroke: 0px #fff;
  
}
.header-base-unit {
  font-size: 20px;
}

/* Quicks END  */
.fs_cardImagSmallest {
  height: 0;
  padding-bottom: 75%;
  overflow: hidden;
}
.fs_cardImageLarge {
  padding-bottom: 100%;
  height: 0;
  overflow: hidden;
}
.fs_cardImageSmall {
  /* padding-bottom: 100%;*/ /*  aspect-ratio of 1:1 */
  padding-bottom: 56.25%; /*  aspect-ratio of 16:9 */
  /*padding-bottom: 75%; */ /*  aspect-ratio of 4:3 */
  /*padding-bottom: 66.66%;*/ /*  aspect-ratio of 3:2 */
  /*padding-bottom: 62.5%;*/ /*  aspect-ratio of 8:5 */
  /*padding-top: calc(591.44 / 1127.34 * 100%);*/
  height: 0;
  overflow: hidden;
}

.priceBtn {
  font-weight: 400 !important;
    /* letter-spacing: 2px; */
    border: 1px solid #52525200 !important;
    font-size: 15px;
    text-align: center;
    min-width: 100px;
    border-radius: 0px !important;
    padding: 6px 5px;
  /* background-color: #3dd842!important; */
  /* color: #000 !important; */
 
  /* letter-spacing: 2px; */
 
 
  border-radius: 0px !important;
 
  /* box-shadow: -1px 15px 29px -16px #3dd842!important; */
  font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 0 !important;
  margin-bottom: -1px;
  background-color: transparent !important;
  border: 1px solid transparent !important;
}
.list-group-item a {
  color: #262626  !important;
}
.fs_imgShadow {
  box-shadow: -1px 15px 29px -23px #000000a1;
}
.card-columns {
  -webkit-column-count: 2!important;
  -moz-column-count: 2!important;
  column-count: 2!important;
  -webkit-column-gap: .75rem!important;
  -moz-column-gap: 1.25rem!important;
  column-gap: .75rem!important;
  orphans: 1;
  widows: 1;
}
.btn[aria-expanded="true"] {
  color: #fff !important;
  background-color: #35a597;
  text-decoration: none;
}

/* my styles */

.fs_blurFilter{backdrop-filter: blur(25px);}

.fs4sideRadius{border-top-left-radius: 40px!important;
  border-top-right-radius: 40px!important;
  border-bottom-left-radius: 40px!important;
  border-bottom-right-radius: 40px!important;}
  .fsTopBothSideRadius{border-top-left-radius: 40px!important;
    border-top-right-radius: 40px!important;
   }

  .fs4sideRaius02{
    border-bottom-left-radius: 20px!important;
    border-bottom-right-radius: 20px!important;
    border-top-left-radius: 20px!important;
    border-top-right-radius: 20px!important;
  }
  .fsTopRaius{
   border-top-left-radius: 20px!important;
    border-top-right-radius: 20px!important;
  }
.headerButton {
  font-size: 18px;
    display: flex;
    width: 100%;
    max-width: 152px;
    min-width: 120px;
    min-height: 52px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    color: #262626;
    font-family: "Roboto", "Open Sans", sans-serif;
    background-color: hsl(0deg 0% 100% / 1) !important;
    backdrop-filter: blur(5px);
    box-shadow: currentColor 0 0 10px -3px;
}
.headerButton:hover{
  text-decoration: none;
  color: #262626;
}
.headerButton02:hover{
  text-decoration: none;
  color: #262626;
}
.headerButton02 {
  font-size: 16px;
  display: flex;
  width: 100%;
  max-width: 120px;
  min-width: 101px;
  min-height: 42px;
  margin: 0 auto;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  color: #262626;
  font-family: "Roboto", "Open Sans", sans-serif;
  background-color: hsl(0deg 0% 100% / 1) !important;
  backdrop-filter: blur(5px);
  box-shadow: currentColor 0 0 10px -3px;
}
.fs_LThumbImg{}
.fs_MThumbImg{min-height: 160px!important;;}

.fs_LThumbBdy{min-height: 160px!important;;}
.fs_MThumbBdy{min-height: 120px!important;;}
.fs_SThumbBdy{min-height: 40px!important;;}
.contactCardStyle01{
  background: rgba( 255, 255, 255, 0.25 );
    /* box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%); */
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 12px!important;
}
.productCardStyle01{
  /* background: #efe6ff; */
  /* border-radius: 12px!important; */
  /* padding: 0 5px; */
  box-shadow: -1px 4px 28px -23px #0c0c0c;
}
.productCardStyle02{
  /* background: #efe6ff; */
  border-radius: 12px!important;
  /* padding: 0 5px; */
  box-shadow: -1px 4px 28px -23px #0c0c0c;
}
.shadowNow{
  box-shadow: -1px 15px 29px -28px #656565;"
}

.fs_12BorderR{
  border-radius: 12px;
}
.fs_8BorderR{
  border-radius: 8px!important;
}
.fs_8BorderRTLR{
  border-top-left-radius: 8px!important;
  border-top-right-radius: 8px!important;
  
}
.fs_8BorderRBLR{
  border-bottom-left-radius: 8px!important;
  border-bottom-right-radius: 8px!important;
}
.fs_8BorderRLTB{
  border-top-left-radius: 8px!important;
  border-bottom-left-radius: 8px!important;
}
.fs_lineHeight{
  line-height: 1;
}
.fs_normalTextShadow{
  text-shadow: 0px 0px 2px #000;
}

.imgDiff{
  /* border-top-right-radius: 12px!important;
  border-bottom-left-radius: 12px!important;
  border-top-left-radius: 150px!important;
  border-bottom-right-radius: 150px!important; */
  box-shadow: 5px 6px 6px -5px #000000;
}
.imgDiff02{
  /* border-top-right-radius: 12px!important;
  border-bottom-left-radius: 12px!important;
  border-top-left-radius: 150px!important;
  border-bottom-right-radius: 150px!important; */
  box-shadow: -5px 6px 6px -5px #000000;
}


.allimgBorderBRsmall {
  border-bottom-right-radius: 22px;
}
.svg50 {
  width: 50%;
  height: 100%;
}
.imgBorderAllsmall {
  border-radius: 22px !important;
}
.imgBorderBLsmall {
  border-bottom-left-radius: 22px !important;
}
.fs_togglerBtn {
  background: var(--main-bg-color--);
  width: 100px;
  min-height: 40px;
  /* border-bottom-left-radius: 22px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px; */
  border-radius: 0px!important;
}
.fs_scrollCards {
  min-height: 120px;
  min-width: 120px;
  margin-right: 5px;
}
.fs_scrollCards02 {
  min-height: 120px;
  min-width: 200px;
  margin-right: 5px;
}
.fs_scroll{
  max-height: 430px; overflow-y:auto ;
}
.fs_scroll02{
  max-height: 385px; overflow-y:auto ;
}
.scroll01 {
  max-height: 300px;
  overflow-y: auto;
}
.fs_Horizontalscroll::-webkit-scrollbar {
  
  height: 14px;
}

.fs_Horizontalscroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
  border-radius: 10px;
}

.fs_Horizontalscroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow:inset 0 0 14px rgb(43 46 6);
}
/* my media */

@media (min-width: 350px) {
  .fs_basicSection{
    min-height: auto;
    overflow: auto;
  }
  .resp_border{
    border-top-left-radius: 40px!important;
    border-top-right-radius: 40px!important;
    border-bottom-left-radius: 0px!important;
  }
  .fs_SThumbImg{min-height: 126px!important;}
  .fs_onProductButton01 {
    font-size: 12px;
    font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
  .fs_SmallMediumText{
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
    font-size: 14px;
    letter-spacing: .7px;
  }
 
  .fs_onImgText02{
    font-size: 20px;
    line-height: 1;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
  .fs_onImgBtn {
    font-size: 12px;
    font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
  .fs_onImgText{
    font-size: 18px;
    line-height: 1;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
  .productImg{
    min-height: 370px;
  }
  .baffinFont{
    font-size: 62px;
    font-family: 'Anton',"Poppins", "Roboto", "Open Sans", sans-serif;
    /* text-transform: lowercase; */
    letter-spacing: 0px;
    font-weight: 100!important;
  }
  .randomCardBdy {
    margin-right: -70px;
    z-index: 1;
  }
  .negativeMt{
    margin-top: -9px;
  }
  .fs_Lcover{
    min-height: 600px;
  }
  .headerImg01{
    min-height: 72px;
  }
  .headerImg02{
    min-height: 132px!important;
  }
  .headerImg03{
    min-height: 250px;
  }
  .headerImg04{
    min-height: 290px!important;
  }

  
}
/* ENDS */
@media (min-width: 576px) {


  .fs_onImgText02{
    font-size: 22px;
    line-height: 1;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
  .fs_onImgBtn {
    font-size: 15px;
    font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
  .fs_onImgText{
    font-size: 22px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
  .productImg{
    min-height: 320px;
  }
  .baffinFont{
    font-size: 72px;
    font-family: 'Anton',"Poppins", "Roboto", "Open Sans", sans-serif;
    /* text-transform: lowercase; */
    letter-spacing: 0px;
    font-weight: 100!important;
  }
  .randomCardBdy {
    margin-right: -70px;
    z-index: 1;
  }
  .negativeMt{
    margin-top: -19px;
  }
  .headerImg01{
    min-height: 72px;
  }
  .headerImg02{
    min-height: 136px!important;
  }
  .headerImg03{
    min-height: 250px;
  }
  .headerImg04{
    min-height: 220px!important;
  }
 

}
/* ENDS */
@media (min-width: 768px) {
  .resp_border{
    border-top-left-radius: 40px!important;
    border-top-right-radius: 0px!important;
    border-bottom-left-radius: 40px!important;
  }
  .fs_SmallMediumText{
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
    font-size: 15px;
    letter-spacing: .7px;
  }
  .random420{
    margin-top: -50px;
    background: #fff!important;
  }
  .fs_onImgText02{
    font-size: 28px;
    line-height: 1;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
  .fs_onImgBtn {
    font-size: 15px;
    font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
  .fs_onImgText{
    font-size: 30px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
  .productImg{
    min-height: 620px;
  }
  .baffinFont{
    font-size: 99px;
    font-family: 'Anton',"Poppins", "Roboto", "Open Sans", sans-serif;
    /* text-transform: lowercase; */
    letter-spacing: 0px;
    font-weight: 100!important;
  }
  .randomCardBdy {
    margin-right: -70px;
    z-index: 1;
  }
  .negativeMt{
    margin-top: -37px;
  }
  .fs_Lcover{
    min-height: 750px;
  }
  .headerImg01{
    min-height: 62px;
  }
  .headerImg02{
    min-height: 160px!important;
  }
  .headerImg03{
    min-height: 385px;
  }
  .headerImg04{
    min-height: 220px!important;
  }
 
}
/* ENDS */
@media (min-width: 992px) {
  .fs_basicSection{
    min-height: 420px;
    overflow: auto;
  }
  .fs_onProductButton01 {
    font-size: 15px;
    font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
  .fs_onImgText02{
    font-size: 42px;
    line-height: 1;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
  .productImg{
    min-height: 620px;
  }
  .baffinFont{
    font-size: 157px;
    font-family: 'Anton',"Poppins", "Roboto", "Open Sans", sans-serif;
    /* text-transform: lowercase; */
    letter-spacing: 0px;
    font-weight: 100!important;
  }
  .randomCardBdy {
    margin-right: -70px;
    z-index: 1;
  }
  .negativeMt{
    margin-top: -37px;
  }
  .fs_Lcover{
    min-height: 1000px;
  }
  .headerImg01{
    min-height: 72px;
  }
  .headerImg02{
    min-height: 222px!important;
  }
  .headerImg03{
    min-height: 385px;
  }
  .headerImg04{
    min-height: 292px!important;
  }
  
  
}
/* ENDS */
@media (min-width: 1200px) {
  
  .fs_SThumbImg{min-height: 112px!important;}
 
  .line_height{
    line-height: 48px;
  }
  .productImg{
    min-height: 620px;
  }
  .baffinFont{
    font-size: 157px;
    font-family: 'Anton',"Poppins", "Roboto", "Open Sans", sans-serif;
    /* text-transform: lowercase; */
    letter-spacing: 0px;
    font-weight: 100!important;
  }
  .negativeMt{
    margin-top: -24px;
  }
.fs_Lcover{
  min-height: 1000px;
}
  .headerImg01{
    min-height: 80px;
  }
  .headerImg02{
    min-height: 222px!important;
  }
  .headerImg04{
    min-height: 270px!important;
  }
  .headerImg03{
    min-height: 385px;
  }
  
  .randomCardBdy {
    margin-right: -70px;
    z-index: 1;
  }
}
/* ENDS MY MEDIA */
/* START BOSS */
@media (min-width: 350px) {
  .fs_headerSection_Height {
    /* min-height: calc(15em + 45vw); */
    min-height: calc(30em + 30vw);
  }
} /* small devices 65vw; */
@media (min-width: 576px) {
  .fs_headerSection_Height {
    /* min-height: calc(10em + 35vw); */
    min-height: calc(15em + 40vw);
  }
} /* Less when content in headers are less. ELSE keep more if content in header is more */
@media (min-width: 768px) {
  .fs_headerSection_Height {
    /* min-height: calc(10em + 37vw); */
    min-height: calc(17em + 40vw);
  }
} /* ipad */
@media (min-width: 992px) {
  .fs_headerSection_Height {
    /* min-height: calc(10em + 30vw); */
    min-height: calc(17em + 40vw);
  }
} /* desktop */
@media (min-width: 1200px) {
  .fs_headerSection_Height {
    /* min-height: calc(10em + 30vw); */
    min-height: calc(24em + 30vw);
  }
} /* large devices */
/* Other bigger section height */
@media (min-width: 350px) {
  .fs_otherBigSection_Height {
    min-height: 45vw;
  }
} /* small devices */
@media (min-width: 576px) {
  .fs_otherBigSection_Height {
    min-height: 55vw;
  }
} /* Less when content in headers are less. ELSE keep more if content in header is more */
@media (min-width: 768px) {
  .fs_otherBigSection_Height {
    min-height: 47vw;
  }
} /* ipad */
@media (min-width: 992px) {
  .fs_otherBigSection_Height {
    min-height: 32vw;
  }
} /* desktop */
@media (min-width: 1200px) {
  .fs_otherBigSection_Height {
    min-height: 35vw;
  }
} /* large devices */

/* Move section up on another section */
@media (min-width: 350px) {
  .fs_sectionMoveUp {
    margin-top: -32vw;
  }
}
@media (min-width: 576px) {
  .fs_sectionMoveUp {
    margin-top: -16vw;
  }
} /* Move up with negative margin on another section */
@media (min-width: 768px) {
  .fs_sectionMoveUp {
    margin-top: -14vw;
  }
}
@media (min-width: 992px) {
  .fs_sectionMoveUp {
    margin-top: -10vw;
  }
}
@media (min-width: 1200px) {
  .fs_sectionMoveUp {
    margin-top: -8vw;
  }
}

.cBodyTxtColor {
  color: #928989;
}
.fs_fixed_H100 {
  min-height: 100px;
  max-height: 100px;
}
@media (min-width: 576px) {
  .fs_fixed_H200 {
    min-height: 270px;
    max-height: 270px;
  }
} /* not for small screen */

/* Responsive text */
/* responsive headlines  */
@media (min-width: 350px) {
  .fs_resp_HL {
    font-size: 48px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* small devices */
@media (min-width: 576px) {
  .fs_resp_HL {
    font-size: 55px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* Less when content in headers are less. ELSE keep more if content in header is more */
@media (min-width: 768px) {
  .fs_resp_HL {
    font-size: 72px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* ipad */
/*  responsive sub headlines  */

@media (min-width: 350px) {
  .fs_resp_SL {
    font-size: 35px;
    font-family: "Open Sans", "Poppins", "Roboto", sans-serif;
  }
  .fs_resp_SL02{
    font-size: 36px;
    font-family: "Anton", "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* small devices */
@media (min-width: 576px) {
  .fs_resp_SL {
    font-size: 40px;
    font-family: "Open Sans", "Poppins", "Roboto", sans-serif;
  }
  .fs_resp_SL02{
    font-size: 36px;
    font-family: "Anton", "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* Less when content in headers are less. ELSE keep more if content in header is more */
@media (min-width: 768px) {
  .fs_resp_SL {
    font-size: 50px;
    font-family: "Roboto", "Poppins", "Open Sans", sans-serif;
  }
  .fs_resp_SL02{
    font-size: 36px;
    font-family: "Anton", "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* ipad */

/*  responsive 'sub sub' headlines  */
@media (min-width: 350px) {
  .fs_resp_Sub_SL {
    font-size: 25px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* small devices */
@media (min-width: 576px) {
  .fs_resp_Sub_SL {
    font-size: 30px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* Less when content in headers are less. ELSE keep more if content in header is more */
@media (min-width: 768px) {
  .fs_resp_Sub_SL {
    font-size: 30px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* ipad */

/*  responsive CARD 'bdyText'.*/
@media (min-width: 350px) {
  .fs_HL_bdyTxt {
    font-size: 22px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* small devices */
@media (min-width: 576px) {
  .fs_HL_bdyTxt {
    font-size: 25px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* Less when content in headers are less. ELSE keep more if content in header is more */
@media (min-width: 768px) {
  .fs_HL_bdyTxt {
    font-size: 25px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* ipad */

/*  responsive 'bdyText'. Show more on mobile. Standard everywhere */
@media (min-width: 350px) {
  .fs_bdyTxt {
    font-size: 19px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* small devices */
@media (min-width: 576px) {
  .fs_bdyTxt {
    font-size: 17px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* Less when content in headers are less. ELSE keep more if content in header is more */
@media (min-width: 768px) {
  .fs_bdyTxt {
    font-size: 17px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* ipad */

/*  responsive CARD 'bdyText'.*/
@media (min-width: 350px) {
  .fs_card_HL {
    font-size: 20px;
    font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
} /* small devices */
@media (min-width: 576px) {
  .fs_card_HL {
    font-size: 22px;
    font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
} /* Less when content in headers are less. ELSE keep more if content in header is more */
@media (min-width: 768px) {
  .fs_card_HL {
    font-size: 23px;
    font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
} /* ipad */

/*  responsive CARD 'bdyText'.*/
@media (min-width: 350px) {
  .fs_card_Sub_HL {
    font-size: 18px;
    font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
} /* small devices */
@media (min-width: 576px) {
  .fs_card_Sub_HL {
    font-size: 18px;
    font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
} /* Less when content in headers are less. ELSE keep more if content in header is more */
@media (min-width: 768px) {
  .fs_card_Sub_HL {
    font-size: 18px;
    font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
} /* ipad */

/*  responsive CARD 'bdyText'.*/
@media (min-width: 350px) {
  .fs_card_bdyTxt {
    font-size: 17px;
    font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
} /* small devices */
@media (min-width: 576px) {
  .fs_card_bdyTxt {
    font-size: 17px;
    font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
} /* Less when content in headers are less. ELSE keep more if content in header is more */
@media (min-width: 768px) {
  .fs_card_bdyTxt {
    font-size: 15px;
    font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
} /* ipad */

/* Responsive text */
@media (min-width: 350px) {
  .subHeader-base-font {
    font-size: 12px;
    font-family: "Roboto", "Poppins", "Open Sans", sans-serif;
  }
}
@media (min-width: 576px) {
  .subHeader-base-font {
    font-size: 18px;
    font-family: "Roboto", "Poppins", "Open Sans", sans-serif;
  }
}
/* responseive text ends */

/*alignements on small devices*/
body {
    background: #efe6ff;
  }
  /* LIGHT FONT COLORS */
  .fs_DefaultFont {
    color: #929292fb !important;
  }
  .fs_DefaultFontLink {
    color: #6e7076 !important;
  }
  .fs_LightFont {
    color: #fff !important;
  }
  .fs_LightThemeFont {
    color: #fffeb5 !important;
  }
  
  /* DARK FONT COLORS */
  .fs_BlackFont {
    color: #000 !important;
  }
  .fs_BlueFont {
    color: darkblue !important;
  }
  .fs_DarkFont {
    color: #262626 !important;
  }
  .fs_DarkThemeFont {
    color: #4d9468 !important;
  }
  
  /* LIGHT BG COLORS */
  .fs_DefaultBg {
    background-color: hsl(0deg 2% 96%) !important;
  }
  .fs_LightBg {
    background-color: hsl(0deg 100% 100% /1) !important;
  }
  .fs_LightBgTrans {
    background-color: hsl(71deg 68% 25% / 41%) !important;
  }
  .fs_whitBgTrans {
    background-color: hsl(71deg 68% 100% / 41%) !important;
  }
  .fs_LightThemeBg {
    background-color: #fffeb5 !important;
  }
  
  /* DARK BG COLORS */
  .fs_DarkBg {
    background-color: #353535 !important;
  }
  .fs_DarkThemeBg {
    background-color: hsla(0deg 0% 6% / 52%) !important;
    backdrop-filter: blur(5px);
  }
  .fs_BlackBg {
    background-color: #050505 !important;
  }
  .fs_BlueBg {
    background-color: darkblue !important;
  }
  
  /* ENDS */
  
  /* SHADOW */
  .fs_ThemeShadow01 {
    box-shadow: -1px 15px 29px -16px #4d9468 !important;
    /* box-shadow: -1px 15px 29px -16px #ced83d!important; */
  }
  /* ENDS */
  .fs_GradientThemeBg {
    background: linear-gradient(133deg, #ff7a00, #db2587, #7000ff, #00ffc2);
  }
  /* ON IMAGE OVERLAY */
  .fs_imgTextOverlay {
    background: linear-gradient(
      264deg,
      rgba(0, 0, 0, 0.38) 0,
      rgba(0, 0, 0, 0.38) 3.5%,
      rgba(0, 0, 0, 0.379) 7%,
      rgba(0, 0, 0, 0.377) 10.35%,
      rgba(0, 0, 0, 0.375) 13.85%,
      rgba(0, 0, 0, 0.372) 17.35%,
      rgba(0, 0, 0, 0.369) 20.85%,
      rgba(0, 0, 0, 0.366) 24.35%,
      rgba(0, 0, 0, 0.364) 27.85%,
      rgba(0, 0, 0, 0.361) 31.35%,
      rgba(0, 0, 0, 0.358) 34.85%,
      rgba(0, 0, 0, 0.355) 38.35%,
      rgba(0, 0, 0, 0.353) 41.85%,
      rgba(0, 0, 0, 0.351) 45.35%,
      rgba(0, 0, 0, 0.35) 48.85%,
      rgba(0, 0, 0, 0.353) 52.35%,
      rgba(0, 0, 0, 0.36) 55.85%,
      rgba(0, 0, 0, 0.371) 59.35%,
      rgba(0, 0, 0, 0.385) 62.85%,
      rgba(0, 0, 0, 0.402) 66.35%,
      rgba(0, 0, 0, 0.42) 69.85%,
      rgba(0, 0, 0, 0.44) 73.35%,
      rgba(0, 0, 0, 0.46) 76.85%,
      rgba(0, 0, 0, 0.48) 80.35%,
      rgba(0, 0, 0, 0.498) 83.85%,
      rgba(0, 0, 0, 0.515) 87.35%,
      rgba(0, 0, 0, 0.529) 90.85%,
      rgba(0, 0, 0, 0.54) 94.35%,
      rgba(0, 0, 0, 0.547) 97.85%,
      rgba(0, 0, 0, 0.55)
    );
  }
  .fs_imgTextOverlayToTL {
    background: linear-gradient(
      351deg,
      rgba(0, 0, 0, 0.38) 0,
      rgb(0 0 0 / 0%) 3.5%,
      rgb(0 0 0 / 0%) 7%,
      rgb(0 0 0 / 0%) 10.35%,
      rgb(0 0 0 / 0%) 13.85%,
      rgb(0 0 0 / 0%) 17.35%,
      rgb(0 0 0 / 0%) 20.85%,
      rgb(0 0 0 / 0%) 24.35%,
      rgb(0 0 0 / 0%) 27.85%,
      rgb(0 0 0 / 0%) 31.35%,
      rgb(0 0 0 / 0%) 34.85%,
      rgb(0 0 0 / 0%) 38.35%,
      rgb(0 0 0 / 0%) 41.85%,
      rgb(0 0 0 / 0%) 45.35%,
      rgb(0 0 0 / 0%) 48.85%,
      rgb(0 0 0 / 0%) 52.35%,
      rgb(0 0 0 / 0%) 55.85%,
      rgb(0 0 0 / 0%) 59.35%,
      rgb(0 0 0 / 0%) 62.85%,
      rgb(0 0 0 / 0%) 66.35%,
      rgb(0 0 0 / 22%) 69.85%,
      rgb(0 0 0 / 48%) 86.35%,
      rgb(255 255 255 / 75%) 76.85%,
      rgb(255 255 255) 73.35%,
      rgb(255 255 255) 83.85%,
      rgb(255 255 255) 88.35%,
      rgb(255 255 255) 90.85%,
      rgb(255 255 255) 94.35%,
      rgb(255 255 255) 97.85%,
      rgb(255 255 255)
    );
  }
  .fsimgTextOverlayToBL {
    background: linear-gradient(
      171deg,
      rgba(0, 0, 0, 0.38) 0,
      rgb(0 0 0 / 0%) 3.5%,
      rgb(0 0 0 / 0%) 7%,
      rgb(0 0 0 / 0%) 10.35%,
      rgb(0 0 0 / 0%) 13.85%,
      rgb(0 0 0 / 0%) 17.35%,
      rgb(0 0 0 / 0%) 20.85%,
      rgb(0 0 0 / 0%) 24.35%,
      rgb(0 0 0 / 0%) 27.85%,
      rgb(0 0 0 / 0%) 31.35%,
      rgb(0 0 0 / 0%) 34.85%,
      rgb(0 0 0 / 0%) 38.35%,
      rgb(0 0 0 / 0%) 41.85%,
      rgb(0 0 0 / 0%) 45.35%,
      rgb(0 0 0 / 0%) 48.85%,
      rgb(0 0 0 / 0%) 52.35%,
      rgb(0 0 0 / 0%) 55.85%,
      rgb(0 0 0 / 0%) 59.35%,
      rgb(0 0 0 / 0%) 62.85%,
      rgb(0 0 0 / 0%) 66.35%,
      rgb(0 0 0 / 22%) 69.85%,
      rgb(0 0 0 / 48%) 86.35%,
      rgb(255 255 255 / 75%) 76.85%,
      rgb(255 255 255) 73.35%,
      rgb(255 255 255) 83.85%,
      rgb(255 255 255) 88.35%,
      rgb(255 255 255) 90.85%,
      rgb(255 255 255) 94.35%,
      rgb(255 255 255) 97.85%,
      rgb(255 255 255)
    );
  }
  .fs_imgTextOverlayToBL02 {
    background: linear-gradient(
      189deg,
      rgba(0, 0, 0, 0.38) 0,
      rgb(0 0 0 / 0%) 3.5%,
      rgb(0 0 0 / 0%) 7%,
      rgb(0 0 0 / 0%) 10.35%,
      rgb(0 0 0 / 0%) 13.85%,
      rgb(0 0 0 / 0%) 17.35%,
      rgb(0 0 0 / 0%) 20.85%,
      rgb(0 0 0 / 0%) 24.35%,
      rgb(0 0 0 / 0%) 27.85%,
      rgb(0 0 0 / 0%) 31.35%,
      rgb(0 0 0 / 0%) 34.85%,
      rgb(0 0 0 / 0%) 38.35%,
      rgb(0 0 0 / 0%) 41.85%,
      rgb(0 0 0 / 0%) 45.35%,
      rgb(0 0 0 / 0%) 48.85%,
      rgb(0 0 0 / 0%) 52.35%,
      rgb(0 0 0 / 0%) 55.85%,
      rgb(0 0 0 / 0%) 59.35%,
      rgb(0 0 0 / 0%) 62.85%,
      rgb(0 0 0 / 0%) 66.35%,
      rgb(0 0 0 / 0%) 69.85%,
      rgb(0 0 0 / 0%) 87.35%,
      rgb(0 0 0 / 0%) 76.85%,
      rgb(255 255 255) 84.35%,
      rgb(0 0 0 / 0%) 83.85%,
      rgb(255 255 255) 87.35%,
      rgb(255 255 255) 90.85%,
      rgb(255 255 255) 94.35%,
      rgb(255 255 255) 97.85%,
      rgb(255 255 255)
    );
  }
  .fs_imgTextOverlayToBL02N {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.38) 0,
      rgb(0 0 0 / 0%) 3.5%,
      rgb(0 0 0 / 0%) 7%,
      rgb(0 0 0 / 0%) 10.35%,
      rgb(0 0 0 / 0%) 13.85%,
      rgb(0 0 0 / 0%) 17.35%,
      rgb(0 0 0 / 0%) 20.85%,
      rgb(0 0 0 / 0%) 24.35%,
      rgb(0 0 0 / 0%) 27.85%,
      rgb(0 0 0 / 0%) 31.35%,
      rgb(0 0 0 / 0%) 34.85%,
      rgb(0 0 0 / 0%) 38.35%,
      rgb(0 0 0 / 0%) 41.85%,
      rgb(0 0 0 / 0%) 45.35%,
      rgb(0 0 0 / 0%) 48.85%,
      rgb(0 0 0 / 0%) 52.35%,
      rgb(0 0 0 / 0%) 55.85%,
      rgb(0 0 0 / 0%) 59.35%,
      rgb(0 0 0 / 0%) 62.85%,
      rgb(0 0 0 / 0%) 66.35%,
      rgb(0 0 0 / 22%) 69.85%,
      rgb(0 0 0 / 48%) 86.35%,
      rgb(0 0 0 / 100%) 76.85%,
      rgb(255 255 255) 80.35%,
      rgb(0 0 0) 83.85%,
      rgb(255 255 255) 87.35%,
      rgb(255 255 255) 90.85%,
      rgb(255 255 255) 94.35%,
      rgb(255 255 255) 97.85%,
      rgb(255 255 255)
    );
  }
  
  .fs_imgTextOverlayToTR {
    background: linear-gradient(
      -189deg,
      rgba(0, 0, 0, 0.38) 0,
      rgb(0 0 0 / 0%) 3.5%,
      rgb(0 0 0 / 0%) 7%,
      rgb(0 0 0 / 0%) 10.35%,
      rgb(0 0 0 / 0%) 13.85%,
      rgb(0 0 0 / 0%) 17.35%,
      rgb(0 0 0 / 0%) 20.85%,
      rgb(0 0 0 / 0%) 24.35%,
      rgb(0 0 0 / 0%) 27.85%,
      rgb(0 0 0 / 0%) 31.35%,
      rgb(0 0 0 / 0%) 34.85%,
      rgb(0 0 0 / 0%) 38.35%,
      rgb(0 0 0 / 0%) 41.85%,
      rgb(0 0 0 / 0%) 45.35%,
      rgb(0 0 0 / 0%) 48.85%,
      rgb(0 0 0 / 0%) 52.35%,
      rgb(0 0 0 / 0%) 55.85%,
      rgb(0 0 0 / 0%) 59.35%,
      rgb(0 0 0 / 0%) 62.85%,
      rgb(0 0 0 / 0%) 66.35%,
      rgb(0 0 0 / 22%) 69.85%,
      rgb(0 0 0 / 48%) 86.35%,
      rgb(0 0 0 / 100%) 76.85%,
      rgb(0 0 0) 80.35%,
      rgb(0 0 0) 83.85%,
      rgb(0 0 0) 87.35%,
      rgb(0 0 0) 90.85%,
      rgb(0 0 0) 94.35%,
      rgb(0 0 0) 97.85%,
      rgb(0 0 0)
    );
  }
  
  .fs_GradientToTL {
    background: linear-gradient(
      352deg,
      rgba(0, 0, 0, 0.38) 0,
      rgb(0 0 0 / 0%) 3.5%,
      rgb(0 0 0 / 0%) 7%,
      rgb(0 0 0 / 0%) 10.35%,
      rgb(0 0 0 / 0%) 13.85%,
      rgb(0 0 0 / 0%) 17.35%,
      rgb(0 0 0 / 0%) 20.85%,
      rgb(0 0 0 / 0%) 24.35%,
      rgb(0 0 0 / 0%) 27.85%,
      rgb(0 0 0 / 0%) 31.35%,
      rgb(0 0 0 / 0%) 34.85%,
      rgb(0 0 0 / 0%) 38.35%,
      rgb(0 0 0 / 0%) 41.85%,
      rgb(0 0 0 / 0%) 45.35%,
      rgb(0 0 0 / 0%) 48.85%,
      rgb(0 0 0 / 0%) 52.35%,
      rgb(0 0 0 / 0%) 55.85%,
      rgb(0 0 0 / 0%) 59.35%,
      rgb(0 0 0 / 0%) 62.85%,
      rgb(0 0 0 / 0%) 66.35%,
      rgb(0 0 0 / 22%) 69.85%,
      rgb(0 0 0 / 48%) 86.35%,
      rgb(255 255 255 / 75%) 76.85%,
      rgb(255 255 255) 73.35%,
      rgb(255 255 255) 83.85%,
      rgb(255 255 255) 88.35%,
      rgb(255 255 255) 90.85%,
      rgb(255 255 255) 94.35%,
      rgb(255 255 255) 97.85%,
      rgb(255 255 255)
    );
  }
  .fs_GradientTheme01 {
    background: linear-gradient(
      352deg,
      rgba(0, 0, 0, 0.38) 0,
      rgb(0 0 0 / 0%) 3.5%,
      rgb(0 0 0 / 0%) 7%,
      rgb(0 0 0 / 0%) 10.35%,
      rgb(0 0 0 / 0%) 13.85%,
      rgb(0 0 0 / 0%) 17.35%,
      rgb(0 0 0 / 0%) 20.85%,
      rgb(0 0 0 / 0%) 24.35%,
      rgb(0 0 0 / 0%) 27.85%,
      rgb(0 0 0 / 0%) 31.35%,
      rgb(0 0 0 / 0%) 34.85%,
      rgb(0 0 0 / 0%) 38.35%,
      rgb(0 0 0 / 0%) 41.85%,
      rgb(0 0 0 / 0%) 45.35%,
      rgb(0 0 0 / 0%) 48.85%,
      rgb(0 0 0 / 0%) 52.35%,
      rgb(0 0 0 / 0%) 55.85%,
      rgb(0 0 0 / 0%) 59.35%,
      rgb(0 0 0 / 0%) 62.85%,
      rgb(0 0 0 / 0%) 66.35%,
      rgb(0 0 0 / 0%) 69.85%,
      rgb(0 0 0 / 0%) 87.35%,
      rgb(0 0 0 / 0%) 76.85%,
      rgb(255 255 255) 84.35%,
      rgb(0 0 0 / 0%) 83.85%,
      rgb(255 255 255) 87.35%,
      rgb(255 255 255) 90.85%,
      rgb(255 255 255) 94.35%,
      rgb(255 255 255) 97.85%,
      rgb(255 255 255)
    );
  }
  .text_intact {
    word-break: keep-all;
  }
  
  /*font weight*/
  .fontW1 {
    font-weight: 100 !important;
  }
  .fontW2 {
    font-weight: 200 !important;
  }
  .fontW3 {
    font-weight: 300 !important;
  }
  .fontW4 {
    font-weight: 400 !important;
  }
  .fontW5 {
    font-weight: 500 !important;
  }
  .fontW6 {
    font-weight: 600 !important;
  }
  .fontW7 {
    font-weight: 700 !important;
  }
  .fontW8 {
    font-weight: 800 !important;
  }
  .fontW9 {
    font-weight: 900 !important;
  }
  /*borders*/
  
  .fsC_none_brdr {
    border: none !important;
    border-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }
  /* TEXT OPACITY */
  .fsTextOpacity7 {
    opacity: 0.7;
  }
  /* FONT STYLE */
  .textUpercase {
    text-transform: uppercase;
  }
  .textCapitalize {
    text-transform: capitalize;
  }
  .textLowercase {
    text-transform: lowercase;
  }
  /*text alignment*/
  .a-left {
    text-align: left;
  }
  .a-right {
    text-align: right;
  }
  .a-center {
    text-align: center;
  }
  .a-justify {
    text-align: justify;
  }
  /* LINE HEIGHT */
  .fs_lineHeightForHLOnDesktop01 {
    line-height: 1;
  }
  .imgContainer {
    padding-bottom: 80%;
    background-size: contain;
    background-position: 50%;
    background-color: white;
    width: 100%;
    background-repeat: no-repeat;
  }
  /*MODAL*/
  /* .modal-content {
    margin-top: 25%;
  }
  .modal-dialog_fs {
    max-width: 90% !important;
  }
  .modal-content_fs {
    margin: 7% auto !important;
    border: none !important;
    border-radius: 0px !important;
  } */
  
  /* MODAL. Can be removed afterwards **/
  /* .miniModal_Body {
    min-width: 250px;
    width: auto;
    max-width: 90% !important;
  } */
  /* Expand width as required */
  
  /* Actual contents should go in the below boxes. FOR the moment not used due to less time for testing **/
  .fs_contentBoxFull {
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .fs_contentBoxFull1 {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  /* Firefox */ /* IE 10+ */
  .fs_contentBoxFull1::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
  }
  .fs_contentBox60_R {
    width: 60%;
    max-height: 80%;
    overflow: hidden;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  
  /* Make this box responsive. On mobile make it 90%*/
  
  .fs_contentBox60 {
    width: 60%;
    max-height: 80%;
    overflow: hidden;
  }
  .fs_contentBox90 {
    width: 90%;
    max-height: 80%;
    overflow: hidden;
  }
  /* max-width: 100%;*/
  
  .fs_contentBox601 {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .fs_contentBox601::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  /* IE 10+ */ /* Firefox */ /* WebKit */
  
  /* height limiting boxes **/
  .fs_contentBox100H {
    width: 100%;
    height: 100px;
    max-height: 100px;
  }
  /*overflow: hidden;*/
  
  /* Image in overlay  ***/
  .abImageHeader {
    position: absolute;
    background-size: cover;
    background-position: 50%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
  }
  /*background-position: top;*/
  
  .simpleOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
  }
  
  /* Must be wrapped inside bootstrap's container. Also make BS's container relative **/
  .fs_container {
    position: relative;
    left: 0px;
    height: auto;
    width: 100%;
    overflow: hidden;
    /* position: relative;
    height: auto;
    width: auto;
    max-width: 1140px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto; */
  }
  
  /*relative position*/
  .fs_relative {
    position: relative;
  }
  
  .fsT_m1000 {
    min-height: 1000px;
    position: relative;
  }
  .fsT_m750 {
    min-height: 750px;
    position: relative;
  }
  .fsT_m650 {
    min-height: 650px;
    position: relative;
  }
  
